body
{
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #484848;
  line-height: 1.43;
  margin: 0;
}


.logo svg
{
  color: #FF5A5F;
  font-size: 34px;
  padding-left: 24px;
  padding-right: 24px;
}

.logo
{
  display: flex;
  justify-content: center;
  align-items: center;
}
header
{
  height: 64px;
  display: flex;
}

.prez
{
  display: flex;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 0px;
  padding-right: 24px;
  box-sizing: border-box;
  height: 188px;
  width: 100%;
  flex-direction: column;
  max-width: 1080px;
  justify-content: flex-end;
  font-family: inherit;
  margin-bottom: 15px;
}
.textprez
{
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.6px;
  font-size: 25px;
  text-align: left;
}
span
{
  color: #FF5A5F;
  font-weight: 700;
  font-size: 25px;
  padding-top: 2px;

}
.search
{
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 75px;

}
#search
{
  width: 100%;
  height: 48px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);

}

.explore
{
  margin-top: 24px;
  margin-bottom: 38px;
  box-sizing: border-box;
}

.pic
{
  width: 100px;
  height: 56px;
  border-radius: 3px;

}

h3
{
  font-size: 25px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 25px;
  margin-top: 0;

}
.scroller
{
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding-left: 18px;
}
.photos
{
  display: flex;
  flex-direction: row;
  padding-right: 18px;
}

h4
{
  margin: 0;
  word-wrap: break-word;
  font-weight: 700;
}
.legend
{
  width: 75.594px;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.image
{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.scrollermid
{
  padding-left: 18px;
  display: flex;
  flex-direction: row;
  overflow: auto;

}
.photomid
{
  display: flex;
  flex-direction: row;

  padding-right: 18px;


}
.imagemid
{
  width: 130px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 30px;
  border-radius: 10px;
  padding-right: 6px;

}
.picmid
{
  height: 87px;
  width: 130px;
  border-radius: 3px;
}

.legendmid
{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.descriptmid
{
  font-size: 19px;
  line-height: 22px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  max-height: 44px;

}
.pricemid
{
  font-size: 15px;
  font-weight: 300;
}
.notationmid
{
  font-size: 12px;
}
.stars
{
  color: blue;
  font-size: 12px;
}

.piclog
{
  height: 118px;
  width: 177px;
  border-radius: 3px;
}

.descriptlog
{
  font-size: 19px;
  line-height: 22px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  height: 44px;
}
.pricelog
{
  font-size: 15px;
  font-weight: 300;
}
.notationlog
{
  font-size: 12px;
}
.legendlog
{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: rgb(87, 37, 51);
}

.imagelog
{
  width: 177px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 30px;
  border-radius: 10px;
  padding-right: 6px;

}

.scrollerlog
{
  padding-left: 18px;
  display: flex;
  flex-direction: row;
  overflow: auto;

}
.bloclog
{
  display: flex;
  flex-direction: row;
  padding-right: 18px;

}
